layout: index
subtitle: Framework web rápido, flexível e minimalista para
---
<div id="highlights">
  <div class="inner">
      <div class="point">
        <h2>Performance</h2>
        <p>Abstrai uma camada para gerenciar aplicações web, deixando todos os recursos do Object Pascal a sua disposição.</p>
      </div>

    <div class="point">
      <h2>Flexível</h2>
      <p>Com diversos <i>middlewares</i> a sua disposição.</p>
    </div>

    <div class="point">
        <h2>Minimalista</h2>
        <p>Simples para começar, porém robusto para suas necessidades.</p>
      </div>
  </div>
</div>
