<li class="nav-dropdown-container language">
  <a class="nav-link">Traduções</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://horse.org/<%- page.path %>" class="nav-link" target="_blank">Inglês</a></li>
    <li><a href="https://br.horse.org/<%- page.path %>" class="nav-link" target="_blank">Português</a></li>
  </ul>
</li>