layout: index
subtitle: Fast, opinionated, minimalist web framework for
---
<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Performing</h2>
      <p>It abstracts a layer to manage web applications, leaving all the features of Object Pascal at your disposal.</p>
    </div>

    <div class="point">
      <h2>Flexible</h2>
      <p>With several <i>middlewares</i> at your disposal.</p>
    </div>

    <div class="point">
      <h2>Minimalist</h2>
      <p>Simple to start, yet robust for your needs.</p>
    </div>
  </div>
</div>
